[Service]
Environment=PATH=/nix/store/1b068wbq8d6fpii8mv0kknhqmq556xp9-nix-2.28.3/bin
ExecStart=/nix/store/l860gidlz488p25j5f125q34v74wplhv-cachix-1.7.8-bin/bin/cachix watch-store mob
Restart=on-failure
RestartSec=1

[Unit]
After=network-online.target
Description=Cachix watching the store
