[Install]
WantedBy=sockets.target

[Socket]
FileDescriptorName=control
ListenStream=%t/radicle/proxy.sock
RuntimeDirectory=radicle
RuntimeDirectoryPreserve=yes
Service=radicle-node.service

[Unit]
Description=Radicle Node Proxy Socket
Documentation=man:systemd-socket-proxyd(8)
